{:kotoba.app/id "cloud.itonami.isic-2815", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicwb3vkhsywoyjqmttsdmshb2ulnlakfcaxjofmjwoerrynk2dpqe", :kotoba.app/embed-url "ipfs://bafkreicwb3vkhsywoyjqmttsdmshb2ulnlakfcaxjofmjwoerrynk2dpqe", :published {:archive "https://kotobase.net/ipfs/bafkreicwb3vkhsywoyjqmttsdmshb2ulnlakfcaxjofmjwoerrynk2dpqe", :size 73006, :put-status 201, :get-status 200, :at "2026-08-15T14:02:10.470Z"}}
